BR2_kvx=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_GMP=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,kalray,linux_coolidge,825912fbb11028643ec155c581c5ef8aec0d46d5)/linux-825912fbb11028643ec155c581c5ef8aec0d46d5.tar.gz"
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_OPEN_LLDP=y
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="coolidge-qemu"
BR2_BINUTILS_VERSION_KVX=y
BR2_BINUTILS_VERSION="36c6e9ec960aa92a8b41b97fe5facd9a9abbb039"
BR2_GCC_VERSION_KVX=y
BR2_GCC_VERSION="ff559b8c1afd7b42a727268f56f544b819f65e04"
BR2_UCLIBC_VERSION_KVX=y
BR2_KALRAY_SITE=""
